{% extends 'base.html.twig' %}

{% block title %}New SERVICE{% endblock %}

{% block body %}
    <h1>Create new SERVICE</h1>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('app_s_e_r_v_i_c_e_index') }}">back to list</a>
{% endblock %}
